@import "../libs/variables.scss";
@import "../libs/mixins.scss";

.theme-dark {
  @import "scrollbar.scss";
  @import "main-menu.scss";
  @import "guilds.scss";
  @import "chat.scss";
  @import "members.scss";
  @import "channels.scss";
  @import "codeBlocks.scss";
  @import "emojiPicker.scss";
  @import "modals.scss";
  @import "popouts.scss";
  @import "buttons.scss";

  .da-layers,
  .da-layer,
  .da-channels,
  .da-channels > .da-container,
  .da-headerBar,
  .da-messagesPopoutWrap > .da-header,
  .da-table > .da-header,
  .da-titleWrapper > .da-title {
    background-color: $black-1;
  }
  .da-messagesPopoutWrap .da-messageGroupWrapper .da-actionButtons {
    background-color: transparent;
    box-shadow: initial;
  }
  .da-messagesPopoutWrap,
  .da-messagesPopoutWrap .da-messageGroupWrapper,
  .da-gameLibrary,
  .da-friendsTable,
  [class^="applicationStore-"],
  .da-activityFeed {
    .da-card {
      background-color: darken($black, 8);
    }
    background-color: darken($black, 4);
  }
  .da-friendsTable {
    margin-top: 0;
  }
}

@import "contextmenu.scss";
@import "app-bar.scss";
