@import "../libs/helpers/deep-map-get";
@import "../libs/helpers/deep-map-check";
@import "../libs/helpers/deep-map-merge";
@import "../libs/helpers/str-capitalize";
@import "../libs/helpers/str-explode";
@import "../libs/helpers/str-replace";
@import "../libs/helpers/strip-unit";
@import "../libs/variables.scss";
@import "../libs/mixins.scss";
@import url("https://fonts.googleapis.com/css?family=Product+Sans:300,400,500,700");
html,
body {
  font-family: #{config("font.global.font")};
  font-size: config("font.global.size");
  letter-spacing: config("font.global.spacing");
}
.theme-dark {
  @import "scrollbar.scss";
  @import "main-menu.scss";
  @import "guilds.scss";
  @import "chat.scss";
  @import "members.scss";
  @import "channels.scss";
  @import "codeBlocks.scss";
  @import "emojiPicker.scss";
  @import "gifPicker.scss";
  @import "modals.scss";
  @import "popouts.scss";
  @import "buttons.scss";
  @import "private-channels.scss";
  @import "spoiler.scss";
  @import "server-discovery.scss";

  .da-layers,
  .da-layer,
  .da-headerBar,
  .da-messagesPopoutWrap > .da-header,
  .da-table > .da-header,
  .da-channels > .da-privateChannels > .da-searchBar,
  .da-channels .da-flexChild > .da-container > header.da-header,
  .da-titleWrapper > .da-title {
    background-color: $black-1;
  }
  .da-channels,
  .da-channels > .da-container,
  .da-messagesPopoutWrap .da-messageGroupWrapper .da-actionButtons {
    background-color: transparent;
    box-shadow: initial;
  }
  .da-messagesPopoutWrap,
  .da-messagesPopoutWrap .da-messageGroupWrapper,
  .da-gameLibrary,
  .da-friendsTable,
  .da-pageWrapper,
  [class^="applicationStore-"],
  .da-activityFeed {
    .da-card {
      background-color: darken($black, 8);
    }
    background-color: darken($black, 4);
  }
  .da-friendsTable {
    margin-top: 0;
  }
  .da-button {
    @include border-radius(config("radius"));
  }
  a {
    color: config("primary");
  }
}

@import "contextmenu.scss";
@import "app-bar.scss";
@import "bd-plugins/_base.scss";
