.btn-close,
.da-closeButton {
  border-width: 0;
  background-color: rgba(config("primary"), 0);
  @include transition(background-color 0.12s ease-out);
  &:hover {
    background-color: rgba(config("primary"), 0.35);
    &:active,
    &:focus {
      background-color: rgba(config("primary"), 0.7);
    }
  }
}
