.btn-close,
.da-button.da-close,
.da-closeButton {
  border-width: 0;
  @include border-radius(50%);
  background-color: rgba(config("primary"), 0);
  @include transition(background-color 0.12s ease-out);
  &:hover {
    background-color: rgba(config("primary"), 0.35);
    &:active,
    &:focus {
      background-color: rgba(config("primary"), 0.7);
    }
  }
}

@keyframes animate-background-primary {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -200%;
  }
}
$accentColor: config(primary);
.da-topSectionPlaying {
  & .da-button {
    $accentColor: lighten(#7289da, 5);
  }
}
.da-topSectionSpotify,
.da-topSectionXbox {
  & .da-button {
    $accentColor: lighten(#107c10, 5);
  }
}
.da-button {
  &[class*="colorGreen-"],
  &[class*="colorBrand-"],
  &.da-buttonInvertedPurple {
    &.da-buttonInvertedPurple {
      $accentColor: #593695;
    }
    &[class*="lookInverted-"] {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        @include linear-gradient(
          90deg,
          $accentColor,
          $accentColor,
          lighten($accentColor, 40),
          $accentColor,
          $accentColor
        );
        border-radius: config(radius);
        z-index: -1;
        animation: animate-background-primary 2s ease infinite;
        @include transition(all 0.12s ease-out);
        will-change: top, left, right, top;
        background-size: 200%;
      }
      background-color: config(dark);
      border-radius: config(radius);
      color: lighten($accentColor, 40);
      &:hover {
        &:before {
          animation-duration: 1s;
        }
        background-color: rgba(config(dark), 0.9);
      }
    }
    &[class*="lookFilled-"] {
      @include linear-gradient(90deg, $accentColor, lighten($accentColor, 15));
      background-size: 200%;
      background-position: right;
      @include transition(all 0.12s ease-out);
      &:hover {
        background-position-x: 20%;
      }
    }
  }
}
.da-slider {
  .da-bar > .da-barFill {
    background: config("primary");
  }
  .da-track {
    & > .da-grabber {
      $size: 18px;
      @include border-radius(50%);
      height: $size;
      width: $size;
      margin-left: -($size/2);
      margin-top: -($size/2);
    }
  }
}
