.da-channels {
  $height: 34px;
  $marginReset-size: $height - 4px;
  .da-containerDefault {
    .da-content {
      margin: 0;
      border-radius: 0px !important;
      @include transition(
        background-color 0.12s ease-out,
        color 0.12s ease-out,
        box-shadow 0.12s ease-out
      );
      &:hover {
        background-color: darken($black, 3);
      }
      @include box-shadow(inset 0 0 35px -35px transparent);
      &.da-contentSelectedText {
        & > .da-marginReset:first-child {
          &:before {
            background-color: rgba(#fff, 0.9);
          }
        }
        @include box-shadow(
          inset 70px 0 35px -35px rgba(config("primary"), 0.5)
        );
        &:hover {
          @include box-shadow(
            inset 100px 0 50px -50px rgba(config("primary"), 0.7)
          );
        }
      }
      > .da-marginReset:first-child {
        position: relative;
        padding-right: $marginReset-size - 6px;
        &:before {
          content: "";
          $size: $height - 24px;
          height: $size;
          width: $size;
          background-color: rgba(#fff, 0.35);
          position: absolute;
          left: 4px;
          top: -4px;
          border-radius: 50%;
        }
        svg {
          display: none;
        }
      }
    }
  }
  .da-wrapperDefaultText {
    .da-nameDefaultText,
    .da-nameDefaultVoice,
    .da-nameLockedText,
    .da-nameLockedVoice {
      @include transition(color 0.12s ease-out);
      color: rgba(lighten($primary, 15), 0.5);
    }
  }
  .da-wrapperHoveredText {
    .da-nameHoveredText,
    .da-nameHoveredVoice {
      @include transition(color 0.12s ease-out);
      color: rgba(lighten($primary, 20), 0.9);
    }
  }
  .da-wrapper {
    .da-unread {
      @include transition(all 0.12s ease-out);
      top: 8px;
      left: 8px;
      bottom: 0;
      margin-top: 0;
      height: auto;
      border-radius: 50%;
      width: $height - 16px;
      height: $height - 16px;
      line-height: 1;
      background-color: rgba(lighten($primary, 20), 0.6);
      & + .da-content {
        .da-marginReset:first-child {
          &:before {
            background-color: rgba(#fff, 0.9);
          }
          padding-right: $marginReset-size;
        }
      }
    }
  }
  .da-wrapperUnreadText {
    .da-nameUnreadText {
      color: rgba(lighten($primary, 25), 1);
    }
  }
}
