[class^='channelTextArea-'] {
  [class*='button-'] {
    opacity: 0.7;
  }
  border-top: none;
  > [class*='inner-'] {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px 8px 0 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    transition: border-color 0.2s ease-out;
    &:hover {
      border-bottom: 2px solid $primary;
    }
  }
}
