.da-chat,
.da-content,
.da-messagesWrapper {
  &,
  .da-typing {
    background-color: transparent;
  }
  .da-typing {
    padding: 0 18px;
  }
}
.da-messagesWrapper {
  .da-containerCozyBounded {
    .da-image {
      @include transition(box-shadow 0.2s ease-out);
      @include shadow(2);
    }
    @include transition(background-color 0.12s ease-out);
    &:hover {
      background-color: rgba(#fff, 0.05);
      .da-image {
        @include shadow(3);
      }
    }
    .da-dividerEnabled {
      border-bottom-color: transparent;
    }
  }
}
.da-divider {
  .da-dividerContent {
    color: lighten($primary, 5) !important;
    &:before,
    &:after {
      border-color: rgba($primary, 0.7) !important;
    }
  }
}
.da-chat {
  background: rgba(0, 0, 0, 0);
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: parseVar("custom-background");
    background-size: cover;
    z-index: 0;
    opacity: 0.1;
  }
  &,
  form {
    background: transparent;
  }
  form {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-top: 28px;
    .da-channelTextArea {
      margin-bottom: 0;
      padding-top: 0;
      .da-button {
        opacity: 0.7;
        &.da-attachButton {
          $iconWidth: 24px;
          padding-left: $iconWidth - 6px;
          position: relative;
          &:hover:before {
            transform: scale(1);
          }
          &:before {
            @include transition(transform 0.12s ease-out);
            transform: scale(0.9);
            content: "";
            background-image: url("/src/resources/icons/attach.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: $iconWidth;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
          }
          & > .da-attachButtonInner {
            &,
            & > svg {
              display: none;
            }
          }
        }
      }
      border-top: none;
      > .da-inner {
        // > .da-buttons {}
        background: transparent;
        border-radius: 0;
        box-shadow: inset 1000px 0 500px -510px $black-1;
        @include transition(box-shadow 0.12s ease-out);
        // textarea.da-textArea {}
      }
    }
    .da-typing {
      box-shadow: inset 1000px 0 500px -510px $black-1;
      padding: 0 18px;
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
    }
  }
}
