.da-chat,
.da-content,
.da-messagesWrapper {
  &,
  .da-typing {
    background-color: transparent;
  }
  .da-typing {
    padding: 0 18px;
  }
}
.da-messagesWrapper {
  .da-containerCozyBounded {
    $msg-background: darken(config("dark"), 2);
    $outbound: 70px;
    $leftpad: 12px;
    $avatarSize: config("message.avatar-size");
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    @include border-radius(config("radius"));
    .da-container {
      .da-icon + .da-content {
        margin-left: $outbound - $leftpad/2;
      }
    }
    &:before {
      content: "";
      position: absolute;
      left: $outbound;
      top: 0;
      right: 0;
      height: 100%;
      width: calc(100% - #{$outbound});
      $mediaWidth: 1200px;
      @media only screen and (min-width: $mediaWidth) {
        @include box-shadow(inset 1200px 0 500px -510px $msg-background);
      }
      @media only screen and (max-width: $mediaWidth) {
        background-color: $msg-background;
      }
      @include border-radius(config("radius"));
      z-index: -1;
    }
    $material-user-overlap: config("message-user-overlap");
    @if ($material-user-overlap) {
      &:after {
        $overlapSize: $avatarSize + 20px;
        content: "";
        position: absolute;
        width: $overlapSize + ($outbound - $overlapSize) + 5px;
        height: $overlapSize + $leftpad/2;
        @include border-left-radius(config("radius"));
        left: 0;
        top: 0;
        background-color: $msg-background;
        z-index: -2;
      }
    } @else {
      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: $outbound - 18px;
        right: auto;
        top: 15px;
        bottom: auto;
        border: 32px solid;
        border-radius: 8px;
        border-color: $msg-background transparent transparent transparent;
        z-index: -1;
      }
    }
    .da-message {
      margin-left: $outbound;
      margin-bottom: 0;
      &:first-of-type {
        position: relative;
        padding-top: 5px;
      }
      &:last-of-type {
        padding-bottom: 5px;
      }
      .da-headerCozy {
        .da-avatar {
          width: 0;
          padding: 0;
          margin: 0 0 0 $leftpad;
          &:hover {
            opacity: 1;
          }
        }
        .da-avatar > .da-image {
          margin-left: -$outbound;
          height: $avatarSize;
          width: $avatarSize;
          &[style*="avatars/#{config('ownerId')}"] {
            &:hover {
              &:before {
                visibility: visible;
                @include transform(translate(14px, -50%));
                opacity: 1;
              }
            }
            position: relative;
            $ownerIconSize: 20px;
            &:before {
              content: "#{config('theme-name')} #{config('ownerName')}";
              position: absolute;
              top: 50%;
              left: 100%;
              background-color: config("primary");
              padding: 10px 12px;
              @include transform(translate(0, -50%));
              @include border-radius(config("radius"));
              @include shadow(3);
              @include transition(
                opacity 0.2s ease-out,
                transform 0.12s ease-out 0.1s
              );
              color: #fff;
              white-space: pre;
              visibility: hidden;
              opacity: 0;
            }
            &:after {
              content: "";
              position: absolute;
              bottom: -25%;
              left: -$ownerIconSize/4;
              background-image: url("/src/resources/logo@0,25x.png");
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              height: $ownerIconSize;
              width: $ownerIconSize;
            }
          }
        }
      }
      .da-contentCozy {
        margin-left: $leftpad;

        .da-isMentionedCozy {
          &.da-isMentioned,
          &:after {
            background-color: rgba(config("primary"), 0.2);
          }
          &:after {
            border-left-color: config("primary");
          }
        }
      }
    }
    .da-image {
      @include transition(box-shadow 0.2s ease-out);
      @include shadow(2);
    }
    @include transition(background-color 0.12s ease-out);
    margin: 10px 14px;
    @include border-radius(config("radius"));
    &:hover {
      .da-image {
        @include shadow(3);
      }
    }
    .da-dividerEnabled {
      border-bottom-color: transparent;
    }
  }
}
.da-divider {
  .da-dividerContent {
    color: lighten($primary, 5) !important;
    &:before,
    &:after {
      border-color: rgba($primary, 0.7) !important;
    }
  }
}
.da-chat {
  background: rgba(0, 0, 0, 0);
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: parseVar("custom-background");
    background-size: parseVar("custom-background-size");
    background-position: parseVar("custom-background-position");
    z-index: 0;
    opacity: 0.1;
  }
  &,
  form {
    background: transparent;
  }
  form {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-top: 28px;
    .da-channelTextArea {
      margin-bottom: 0;
      padding-top: 0;
      .da-button {
        opacity: 0.7;
        &.da-attachButton {
          $iconWidth: 24px;
          padding-left: $iconWidth - 6px;
          position: relative;
          &:hover:before {
            transform: scale(1);
          }
          &:before {
            @include transition(transform 0.12s ease-out);
            transform: scale(0.9);
            content: "";
            background-image: url("/src/resources/icons/attach.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: $iconWidth;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
          }
          & > .da-attachButtonInner {
            &,
            & > svg {
              display: none;
            }
          }
        }
      }
      border-top: none;
      > .da-inner {
        // > .da-buttons {}
        background: transparent;
        border-radius: 0;
        @include box-shadow(inset 1000px 0 500px -510px config("dark-accent"));
        @include transition(box-shadow 0.12s ease-out);
        // textarea.da-textArea {}
      }
      .da-autocomplete {
        background-color: darken($black, 4);
        border-color: transparent;
        border-width: 0;
        border-radius: config("radius");
        margin: 20px;
        @include shadow(1);
        @include transition(box-shadow 0.12s ease-out);
        &:hover {
          @include shadow(3);
        }
        .da-container {
          .da-header {
            $sbHeight: config("autocomplete.searchbar.height");
            padding: 0;
            padding-top: 6px;
            padding-bottom: 12px;
            .da-searchBar {
              &,
              input {
                border-radius: 0px;
                background: transparent;
                height: $sbHeight !important;
              }
              & > .da-searchBarIcon {
                margin: $sbHeight/4 12px;
              }
              input {
                padding: 0 16px;
              }
            }
          }
        }
      }
    }
    .da-typing {
      box-shadow: inset 1000px 0 500px -510px $black-1;
      padding: 0 18px;
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
    }
  }
}
