[class^="chat-"],
[class^="content-"],
[class^="messagesWrapper-"] {
  &,
  [class*="typing-"] {
    background-color: transparent;
  }
  [class*="typing-"] {
    padding: 0 18px;
  }
}
[class^="containerDefault-"] {
  [class*="content-"] {
    margin: 0;
    border-radius: 0px !important;
    &[class*="contentSelectedText-"] {
      background-color: darken($primary, 5);
    }
  }
}
[class*="containerCozy-"] {
  [class*="dividerEnabled-"] {
    border-bottom-color: transparent;
  }
}
[class^="divider-"] {
  [class*="dividerContent-"] {
    color: lighten($primary, 5) !important;
    &:before,
    &:after {
      border-color: rgba($primary, 0.7) !important;
    }
  }
}
[class^="chat-"] {
  background: rgba(0, 0, 0, 0);
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url(getBackground());
    background-size: cover;
    z-index: 0;
    opacity: 0.1;
  }
  &,
  form {
    background: transparent;
  }
  form {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-top: 28px;
    [class^="channelTextArea-"] {
      margin-bottom: 0;
      padding-top: 0;
      [class*="button-"] {
        opacity: 0.7;
      }
      border-top: none;
      > [class*="inner-"] {
        > [class^="buttons"] {
          padding: 20px 6px 20px 0;
        }
        background: transparent;
        border-radius: 0;
        box-shadow: inset 1000px 0 500px -510px $black-1;
        @include transition(box-shadow 0.12s ease-out);
        textarea[class^="textArea-"] {
          padding: 25px 10px;
        }
      }
    }
    [class*="typing-"] {
      box-shadow: inset 1000px 0 500px -510px $black-1;
      padding: 0 18px;
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
    }
  }
}
