.da-emojiPicker {
  border: 1px solid darken($black-1, 10);
  height: 400px;
  border-radius: 8px;
  .da-diversitySelector {
    .da-popout {
      background-color: $black-1;
      border: 1px solid lighten($black-1, 5);
    }
  }
  .da-searchBar {
    background: transparent;
    color: #fff;
    .da-searchBarInner {
      background: rgba(0, 0, 0, 0.2);
    }
  }
  .da-stickyHeader {
    background: transparent;
  }
  .da-emojiItem {
    &.da-selected {
      background-color: rgba($black-1, 0.15) !important;
    }
  }
  background: parseVar("default");
  .da-scrollerWrap {
    .da-scroller {
      height: 100%;
    }
  }
}
