@import "../libs/helpers/*.scss";
@import "../libs/variables.scss";
@import "../libs/mixins.scss";
@import url("https://fonts.googleapis.com/css?family=Product+Sans:300,400,500,700");
html,
body {
  font-family: #{config("font.global.font")};
  font-size: config("font.global.size");
  letter-spacing: config("font.global.spacing");
}
.theme-dark {
  @import "core/*.scss";
  @import "settings/*.scss";
  @import "buttons/*.scss";
  @import "channels/*.scss";
  @import "chat/*.scss";
  @import "misc/*.scss";
  @import "modals/*.scss";
  @import "popouts/*.scss";
  @import "sections/*.scss";
  @import "plugins/**/*.plugin.scss";
}

@import "sections/contextmenu.scss";
@import "sections/app-bar.scss";
@import "bd/*.scss";
