[class^="standardSidebarView-"] {
  background: $black-1;
  [class^="sidebarRegion-"] {
    background: darken($black-1, 5);
  }
  [class^="contentRegion-"] {
    background: $black-1;
  }
}
