[class^='membersWrap-'] {
  [class*='members-'] {
    background: transparent;
    & > [class*='member-'] {
      @include border-left-radius(30px);
      @include transition(background 0.1s ease-out);
      [class^='content-'] {
        background: transparent !important;
      }
      &.popout-open,
      &:hover {
        background-color: rgba(#000, 0.2);
        &.popout-open {
          background-color: $primary;
          color: #fff;
          [class^='nameTag-'] {
            color: #fff !important;
          }
          [class^='activityText-'] {
            color: rgba(#fff, 0.8);
          }
        }
      }
    }
  }
}
