.da-modal {
  .da-inner {
    & > .da-modal {
      background: darken(config("dark"), 5);
      & > .da-footer {
        background: darken(config("dark"), 5);
      }
    }

    .da-avatar {
      @keyframes animatestatus {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.5);
        }
      }
      & > .da-statusProfile {
        transform: scale(1);
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          @include box-shadow(0 0 20px -3px #000);
          @include border-radius(50%);
        }
        animation: animatestatus 3s ease infinite;
      }
    }
    .da-topSection,
    .da-topSectionPlaying,
    .da-topSectionSpotify,
    .da-topSectionNormal {
      position: relative;
      a.da-anchor {
        color: lighten(config(primary), 20);
        text-shadow: 0 0 2px lighten(config(primary), 30);
      }
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
      &:after {
        background-image: parseVar("modal-header-image");
        opacity: parseVar("modal-header-image-opacity");
        @include box-shadow(inset 0 -50px 50px -20px parseVar("default"));
        background-size: cover;
        background-repeat: no-repeat;
        background-position: parseVar("modal-header-image-position");
        animation: modal-header-image-animation 1s ease 1;
      }
      @keyframes modal-header-image-animation {
        0% {
          opacity: 0;
          transform: translateY(-100%);
        }
        35% {
          opacity: 0;
        }
        100% {
          opacity: parseVar("modal-header-image-opacity");
          transform: translateY(0);
        }
      }
      &:before {
        background: config("dark");
        z-index: -2;
      }
      background-image: url("/src/resources/triangles.png");
      background-size: cover;
      background-position: center;
      @include box-shadow(inset 0 -50px 50px -20px parseVar("default"));
      background: transparent;
      .da-headerFill {
        background-color: rgba(0, 0, 0, 0.15);
        position: relative;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 10px;
          right: 10px;
          height: 1px;
          background: linear-gradient(
            to right,
            rgba(config("primary"), 0),
            rgba(config("primary"), 1),
            rgba(config("primary"), 0)
          );
        }
      }
      .da-tabBar {
        & > .da-tabBarItem {
          &.da-itemSelected {
            border-color: config("primary") !important;
          }
        }
      }
    }
  }
  .da-root {
    & > .da-body {
      background: $black;
    }
  }
}
.da-connectedAccount,
.da-userInfoSection[class$="+"] {
  background: darken($black, 5);
  border-radius: 8px;
}
.da-quickswitcher {
  background-color: $black;
  .da-input {
    background-color: $primary;
    &::placeholder {
      color: rgba(#fff, 0.65);
    }
  }
  .da-result {
    &:hover > .da-content > div:not(.da-header) {
      background-color: rgba($primary, 0.25);
    }
    & > .da-content & > .da-content {
      & > div:not(.da-header) {
        @include transition(background-color 0.12s ease-out);
        &:first-child {
          @include border-left-radius(8px);
          padding-left: 3px;
          padding-right: 3px;
          vertical-align: middle;
        }
        &:not(:last-child) {
          margin-right: 0;
          // padding-right: 5px;
        }
        &:last-child {
          @include border-right-radius(8px);
          margin-left: 0;
          padding-right: 10px;
        }
      }
    }
  }
}
