&.da-popouts {
  & > [role*="dialog"].da-popout {
    margin-left: -30px;
  }
  .da-userPopout {
    .da-header {
      background-image: url("/src/resources/triangles.png");
      background-size: cover;
      background-position: center;
      &:not(.da-headerPlaying) {
        @include box-shadow(inset 0 -50px 50px -30px parseVar("default"));
      }
    }
    .da-header:not(.da-headerPlaying),
    & > .da-body {
      background-color: $black;
    }
    .da-footer {
      background: $black;
      .da-quickMessage {
        background: lighten($black, 3);
        color: rgba(#fff, 0.7);
      }
    }
    .da-rolesList {
      .da-role {
        $_lxheight: 24px;
        position: relative;
        border-radius: 0;
        border: 0px solid transparent;
        padding: 0 8px;
        height: $_lxheight;
        margin-top: 8px;
        @include shadow(3);

        .da-roleName {
          z-index: 1;
          color: #fff;
          margin-right: 0;
          line-height: $_lxheight;
        }
        .da-roleCircle {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 4px;
          z-index: 0;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
