::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background: transparent !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  width: 5px !important;
}
::-webkit-scrollbar-thumb {
  &:hover {
    background: rgba(#fff, 1) !important;
  }
  background: rgba(#fff, 0.3) !important;
  width: 5px;
  border: none;
  border-radius: 0px;
}
