&.da-popouts,
.da-popouts > .da-popout,
.da-layerContainer > [id^="popout_"] {
  .da-menu {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100%;
      width: 100%;
      background-color: lighten(config(primary), 20);
      opacity: 0.15;
      filter: blur(20px);
      z-index: -1;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      background-image: url(/src/resources/triangles.png);
      background-position: center;
      background-size: contain;
      z-index: -1;
    }
    background-color: rgba(darken(config(dark), 10), 0.8);
    & > .da-item {
      @include transition(
        background-color 0.12s ease-out,
        color 0.12s ease-out 0.12s
      );
      &:hover {
        background-color: transparent;
      }
    }
  }
  .da-userPopout {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    min-width: 500px;
    flex-flow: wrap;
    @include border-radius(config("radius"));
    .da-header {
      background-image: url("/src/resources/triangles.png");
      background-size: cover;
      background-position: center;
      &:not(.da-headerPlaying) {
        @include box-shadow(inset 0 -50px 50px -30px parseVar("default"));
      }
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      min-width: 33%;
      max-width: 40%;
    }
    .da-header:not(.da-headerPlaying),
    & > .da-body {
      &.da-body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1 1;
      }
      min-width: 33%;
      background-color: $black;
    }
    .da-footer {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      place-content: space-between;
      background: $black;
      .da-quickMessage {
        background: lighten($black, 3);
        color: rgba(#fff, 0.7);
      }
    }
    .da-rolesList {
      overflow-y: auto;
      max-height: parseVar("role-list-height");
      padding: 2px 5px;
      position: relative;
      .da-role {
        overflow: hidden;
        background-color: darken(config("dark"), 5);
        @include border-radius(config("radius") / 3);
        flex: 1 1 100%;
        $_lxheight: 24px;
        position: relative;
        border: 0px solid transparent;
        padding: 0 8px;
        height: $_lxheight;
        margin-top: 8px;
        @include shadow(3);
        .da-roleName {
          z-index: 1;
          color: #fff;
          margin-right: 0;
          margin-left: 12px;
          line-height: 1;
        }
        .da-roleCircle {
          position: absolute;
          top: 0;
          left: 0;
          width: 12px;
          height: 100%;
          @include border-radius(0);
          z-index: 0;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
&.da-popouts {
  & > .da-popout {
    .da-container {
      background-color: config(dark);
      @include border-radius(config("radius"));
      .da-resultsGroup {
        & > .da-header,
        & > .da-searchLearnMore {
          color: config("primary");
        }
        & > .da-option {
          background: transparent;
          @include transition(
            box-shadow 0.12s ease-out,
            background-color 0.12s ease-out
          );
          @include border-radius(config(radius));
          &:hover {
            background: lighten(config(dark), 2);
          }
          &:after {
            background: transparent;
          }
        }
      }
    }
    &.popoutbottom.da-noArrow {
      margin-top: 0;
      min-width: 240px;
      & > .da-menu {
        @include border-top-radius(0);
        background-color: darken(config(dark-accent), 5);
        min-width: 100%;
        & > .da-item:first-child {
          @include border-top-radius(0);
        }
      }
      @include border-radius(0 0 config(radius) config(radius));
      @include box-shadow(none);
    }
  }
}
