.da-membersWrap {
  .da-members {
    background: transparent;
    & > .da-member {
      @include border-left-radius(30px);
      @include transition(background 0.1s ease-out);
      .da-content {
        background: transparent !important;
      }
      &.popout-open,
      &:hover {
        background-color: rgba(#000, 0.2);
        &.popout-open {
          background-color: $primary;
          color: #fff;
          .da-nameTag {
            color: #fff !important;
          }
          .da-activityText {
            color: rgba(#fff, 0.8);
          }
        }
      }
    }
  }
}
